#mobileMenu {
  z-index: 40;
}
body {
  font-family: "Roboto", sans-serif;
}
.font-title {
  font-family: "Bebas Neue", cursive;
}
html {
  scroll-behavior: smooth;
}
.scroll-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.scroll-animate.animate {
  opacity: 1;
  transform: translateY(0);
}
